<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Flipsmart - Cart</title>
	<link rel="icon" type="image/png" href="./images/images/Flipkart Logo Favicon.jpg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./css/css/bootstrap.css">
	<link rel="stylesheet" href="./css/css/magnific-popup.min.css">
	<link rel="stylesheet" href="./css/css/font-awesome.css">
	<link rel="stylesheet" href="./css/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="./css/css/themify-icons.css">
	<link rel="stylesheet" href="./css/css/niceselect.css">
	<link rel="stylesheet" href="./css/css/animate.css">
	<link rel="stylesheet" href="./css/css/flex-slider.min.css">
	<link rel="stylesheet" href="./css/css/owl-carousel.css">
	<link rel="stylesheet" href="./css/css/slicknav.min.css">
	<link rel="stylesheet" href="./css/css/reset.css">
	<link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/css/responsive.css">
</head>

<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
		
		<!-- Header -->
		<header class="header shop">
					</header>
	
			
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<i class="fas fa-home home-ashi"><span>Back to Home</span></i>
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>PRODUCT</th>
								<th>NAME</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center">QUANTITY</th>
								<th class="text-center">TOTAL</th> 
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
							
							
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
									
								</div>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
										<li class="cart-subtotal">Cart Subtotal<span>Rs. 0</span></li>
										<li class="shipping">Shipping<span></span></li>
										<li class="last">You Pay<span>Rs. 0</span></li>
									</ul>
									<div class="button5">
										<!-- <a href="#" class="btn">Checkout</a> -->
										<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_I0U39xV5Mhltq7" async> </script> </form>
										<a href="#" class="btn continue">Continue shopping</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->
			
	<!-- Start Shop Services Area  -->
	<section class="shop-services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket" style="color:#006CB4"></i>
						<h4>Free shiping</h4>
						<p>Orders over Rs.1000</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload" style="color:#006CB4"></i>
						<h4>Free Return</h4>
						<p>Within 30 days returns</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock" style="color:#006CB4"></i>
						<h4>Secure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag" style="color:#006CB4"></i>
						<h4>Best Price</h4>
						<p>Guaranteed price</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Services Area -->
	

	
	
	
	
	

	
	<!-- Jquery -->
    <script src="./javascript/js/jquery.min.js"></script>
    <script src="./javascript/js/jquery-migrate-3.0.0.js"></script>
	<script src="./javascript/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="./javascript/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="./javascript/js/bootstrap.min.js"></script>
	<!-- Slicknav JS -->
	<script src="./javascript/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="./javascript/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="./javascript/js/magnific-popup.js"></script>
	<!-- Fancybox JS -->
	<script src="./javascript/js/facnybox.min.js"></script>
	<!-- Waypoints JS -->
	<script src="./javascript/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="./javascript/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="./javascript/js/nicesellect.js"></script>
	<!-- Ytplayer JS -->
	<script src="./javascript/js/ytplayer.min.js"></script>
	<!-- Flex Slider JS -->
	<script src="./javascript/js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="./javascript/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="./javascript/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="./javascript/js/easing.js"></script>
	<!-- Active JS -->
	<script src="./javascript/js/active.js"></script>
	<script src="./javascript/js/cart.js"></script>
</body>
</html>