<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homepage.css">
    <link rel="icon" type="image/png" href="./images/images/Flipkart Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Flipsmart - Product Page</title>
</head>

<body>
    <div class="container">
        <div class="column1">
            <!-- <div class="part1">
                <img src="images/Vector.png" alt="" srcset="">
            </div> -->
            <div class="part2">
                <div class="rectangle">
                    <i class="fas fa-arrow-left backToHome"></i>
                    <div class="content">
                        <h1>You know what you need? We do too.</h1>
                        <p>Experience the power of Artificial Intelligence and never <br> worry again about forgetting
                            something on your list.</p>
                    </div>
                    <div class="learnMore">
                        <div class="buttonLM">Learn More</div>
                    </div>

                </div>
                <img src="./images/Flipkart Product Page Illustration 1.png" alt="">
            </div>
            <div class="part3">
                <div class="all choose active">All</div>
                <div class="dryfruit choose">Dry Fruits</div>
                <div class="freshproduce choose">Fresh Produce</div>
                <div class="essentials choose">Essentials</div>
                <div class="beverage choose">Beverages</div>
                <div class="readytoeat choose">Ready To Eat</div>
                <div class="meat choose">Meat</div>
                <div class="dairy choose">Dairy</div>
                <div class="extras choose">Extras</div>

            </div>
            <div class="part4">
                <div class="search">
                    <div class="icon"><img src="./images/search.png" alt="" srcset=""></div>
                    <div class="text"> <input id="myText" type="text" placeholder="Search A Product"></div>

                </div>
                <div class="ratings">
                    <div class="text1"><span id="sortBy">Sort By:  </span><select name="" id="sort">
                        <option value="plth">Price: Low to High</option>
                        <option value="phtl">Price: High to Low</option>
                        <option value="atz">Alphabetical Order: A - Z</option>
                        <option value="zta">Alphabetical Order: Z - A</option>
                    </select></div>
                </div>
            </div>
            <div class="part5">
            </div>
        </div>
        <div class="column2">
            <div class="portion1">
                <div class="details">
                    <div class="pic">
                        <img src="./images/Profile Picture.png" alt="" srcset="">
                    </div>
                    <div class="User">
                        <div class="name"></div>
                        <div class="sign-out">Sign out</div>
                    </div>
                </div>
                <div class="cart">
                    <img src="./images/cart.png" alt="" srcset="">
                </div>
            </div>
            <div class="portion2">
                <div class="bag">
                    <img src="./images/Bag.png" alt="" srcset="">
                </div>
                <div class="head">Flipsmart Bag</div>
            </div>
            <div class="portion3">
                <div class="heading">Products You May Want </div>
                <div class="products">
                    
                </div>
            </div>
            <div class="portion4">
                <div class="add">Add All Items From Smart Bag To Cart</div>
                <div class="arrow"><img src="./images/arrow.png" alt="" srcset=""></div>
            </div>
        </div>

    </div>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./javascript/firebase.js"></script>
    <script src="./javascript/data.js"></script>
    <script src="./javascript/homepage.js"></script>
</body>
</html>